body{
    background-color: #e7debe;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italianno', cursive;
    text-align: center;
    font-size: 20px;
}

header img{
    height: 100px;
    width: 100px;
}

main{
    display: flex;
    flex-direction: row;
   
}









.ingredienser{
   background-color: #b0926f; 
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   border: 2px solid white;
   border-radius: 30px;
   padding: 15px;
   margin-right: 50px;
   height: auto;
   width: 650px;
}



.bilder img{
    width: 200px;
    margin: 15px;
    border: 2px solid #e7debe;
    
}

section{
    text-align: center;
    color: white;
    margin-top: 0px;
}

.recept-rubrik{
    border: 2px solid white;
    border-radius: 30px;
    background-color: #b0926f;
    width: fit-content;
    height: 300px;
    
}

.recept{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    width: 750px;
    
}

.recept div{
    margin: 8px;
   
}

section div{
    height: 200px;
    width: 170px;
}

.bulle1 img{
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 30px;
    width: 750px;
    height: 450px;
}

.steg1 img{
    width: 160px;
    height: 150px;
}

.steg2 img{
    width: 160px;
    height: 150px;
}

.steg3 img{
    width: 160px;
    height: 150px;
}

.steg4 img{
    width: 160px;
    height: 150px;
}

button{
    background-color: #b0926f;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 160px;
    height: 45px;
    border: none;
}

.steg1{
    position: relative;
    display: inline-block;
    border: 2px solid white;
    width: 160px;
}

.steg2{
    position: relative;
    display: inline-block;
    border: 2px solid white;
    width: 160px;
}

.steg3{
    position: relative;
    display: inline-block;
    border: 2px solid white;
    width: 160px;
}

.steg4{
    position: relative;
    display: inline-block;
    border: 2px solid white;
    width: 160px;
}

.steg1-dropdown{
    display: none;
    position: absolute;
    background-color: #b0926f;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.steg2-dropdown{
    display: none;
    position: absolute;
    background-color: #b0926f;
    min-width: 160px;
    width: 400px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.steg3-dropdown{
    display: none;
    position: absolute;
    background-color: #b0926f;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.steg4-dropdown{
    display: none;
    position: absolute;
    background-color: #b0926f;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.steg1-dropdown p{
    color: white;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
}

.steg2-dropdown li{
    color: white;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
}

.steg3-dropdown p{
    color: white;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
}

.steg4-dropdown p{
    color: white;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
}

.steg1-dropdown p:hover{
    background-color: #b0926f;
}

.steg2-dropdown p:hover{
    background-color: #b0926f;
}

.steg3-dropdown p:hover{
    background-color: #b0926f;
}

.steg4-dropdown p:hover{
    background-color: #b0926f;
}


.steg1:hover .steg1-dropdown{
    display: block;
}

.steg2:hover .steg2-dropdown{
    display: block;
}

.steg3:hover .steg3-dropdown{
    display: block;
}

.steg4:hover .steg4-dropdown{
    display: block;
}

.steg1:hover button{
    background-color: #e7debe;
}

.steg2:hover button{
    background-color: #e7debe;
}

.steg3:hover button{
    background-color: #e7debe;
}

.steg4:hover button{
    background-color: #e7debe;
}





