body{
    background-color: #e7debe;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italianno', cursive;
    font-size: 20px
    
    
    
}

header img{
    height: 100px;
    width: 100px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.info{
    background-color: #b0926f;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    height: 400px;
    width: 400px;
    margin-left: 25px;
}

.bilder{
    display: flex;
    flex-direction: row;
}

.bilder img{
    margin: 15px;
    width: 160px;
    border: 2px solid white;
}

.bild{
    margin-left: 80px;
    margin-right: 50px;
}

.bild img{
    border: 2px solid #b0926f;
    border-radius: 30px;
    height: 410px;
    width: 700px;
}

nav{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #b0926f;
    border: 2px solid white;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    margin: 10px;
}

nav a:hover{
    background-color: #695642;
    color: gray;
}